.movie__view {
  max-width: 500px;
  padding: 25px;
  margin: auto;
  height: 100%;
}

.movie__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.movie__description__box {
  margin-bottom: 40px;
}
