body {
  background-color: #112c46;
}

.logout-button {
  position: absolute;
  right: 20px;
}

.div-container {
  padding: 20px;
}

.main-view {
  padding-top: 25px;
}

Navbar {
  margin-bottom: 25px;
}
