.registerHeader {
  color: #fdf5e6;
  text-align: center;
}

.profile-view {
  widows: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
  color: white;
}

.profilecard {
  max-width: 500px;
  padding: 25px;
  margin-top: 20px;
  color: rgb(51, 51, 51);
}

.profile-div {
  text-align: center;
}
.home-button {
  margin-right: 10px;
}
